@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
       
        <script src="@routes.Assets.at("javascripts/file.js")" type="text/javascript"></script> 
        
        <!-- Require of Messages for JS -->
        <script src="@routes.Language.jsMessages(Language.currentLanguageItem.code)" type="text/javascript"></script> 
        
    </head>
    <body>
        @content
    </body>
</html>
